<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/editData" method="POST">
        <input type="hidden" name="id" value="<%= student.id %>">
        <input type="text" name="name" value="<%= student.name %>">
        <button type="submit">Edit</button>
      </form>
</body>
</html>